<section class="jumbotron text-center">
  <div class="container">
    <h1 id="volunteer_title">Volunteer Home</h1>
    <p class="lead text-muted">
      Volunteers play a critical role in transforming job seekers’ lives by sharing their knowledge of
      U.S. workplace culture
      and expectations, industry insights, and lessons learned. As many as 85% of people in the U.S. find their jobs
      through
      networking, but many immigrants and refugees lack the relationships that help with navigating the job search
      process.
    </p>
    <p>
      <a routerLink="/volunteer/signup" class="btn btn-primary my-2">Sign up</a>
      <!-- <a href="#" class="btn btn-secondary my-2">Secondary action</a> -->
    </p>
  </div>
</section>

<hr>

<div class="container">
  <h3 class="heading">
    Volunteering With Job Seekers
    <small class="text-muted">| Opportunities</small>
  </h3>
  <p>Below are opportunities for important individual volunteering.
    There’s nothing more rewarding than seeing job seekers gain confidence as they achieve their goals. Volunteers can
    support immigrant and refugee job seekers in several ways:
  </p>
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-4  d-flex" *ngFor="let opportunity of opportunities">
      <div class="card-group">
        <div class="card flex-fill shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{opportunity.name}}</h5>
            <p class="card-text">{{opportunity.description}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Time-Commitment: <strong>{{opportunity.time_commitment}}</strong></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>