<section class="signup">
    <mat-card>
      <mat-card-title style="text-align: center;">Sign Up</mat-card-title>
      <form #f="ngForm" (ngSubmit)="onSubmit(f)">
          <mat-form-field>
              <input type="text"
              matInput
              placeholder="First Name"
              ngModel
              name="firstName"
              required
              minlength="2"
              #fNameInput="ngModel"
              >
          <mat-error *ngIf="fNameInput.touched">Must be at least 2 charachters long.</mat-error>
          </mat-form-field>
          <mat-form-field>
              <input type="text"
              matInput
              placeholder="Last Name"
              ngModel
              name="lastName"
              required
              minlength="2"
              #lNameInput="ngModel"
              >
          <mat-error *ngIf="lNameInput.touched">Must be at least 2 charachters long.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input type="text"
            matInput
            placeholder="User Name"
            ngModel
            name="username"
            required
            minlength="3"
            #lNameInput="ngModel"
            >
        <mat-error *ngIf="lNameInput.touched">Must be at least 3 charachters long.</mat-error>
        </mat-form-field>
          <mat-form-field>
              <input type="email"
              matInput
              placeholder="Email"
              ngModel
              name="email"
              email
              required
              #emailInput="ngModel"
              >
              <mat-error *ngIf="emailInput.hasError('required') && emailInput.touched">Field must not be empty!</mat-error>
              <mat-error *ngIf="!emailInput.hasError('required') && emailInput.touched">Email is invalid!</mat-error>
          </mat-form-field>
          <mat-form-field hintLabel= "Should be at least 6 charachters long.">
              <input type="password"
              matInput
              placeholder="Password"
              ngModel
              name="password"
              required
              minlength="6"
              #pwInput="ngModel"
              >
          <mat-hint align="end">{{pwInput.value?.length}}/6</mat-hint>
          <mat-error *ngIf="pwInput.touched">Must be 6 charachters long.</mat-error>
          </mat-form-field>
              <mat-checkbox ngModel name="agree" required color="primary">Agree to Terms and Conditions.</mat-checkbox>
        <mat-card-actions>
            <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
            <mat-spinner *ngIf="isLoading"></mat-spinner>
        </mat-card-actions>
      </form>
    </mat-card>
  </section>
