#submitButton {
 width: 400px;
 height: 40px;
 text-align: center;
 margin-left: 20px;
 margin-right: 20px;
}

mat-form-field {
  width: 400px;
  padding: 5px 20px;
}

.login {
  width: 450px;
}

.back{
  width: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 100px;
}

.col-25 {
  flex: 25%;
}

.col-75 {
  flex: 75%;
}

.col-25,
.col-75 {
  padding: 0 10px;
}