<section>
  <div *ngIf="alertType === 'SUCCESS'" class="alert alert-success alert-dismissible fade show" role="alert">
    User created successfully
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="alertType === 'ERROR'" class="alert alert-danger alert-dismissible fade show" role="alert">
    Something went wrong.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="row">
    <div class="col-25">
      <button class="back" id="go_home" color="primary" mat-stroked-button type="button" routerLink="/">Go to home</button> <br><br>
      <button class="back" id="to_list" color="accent" mat-stroked-button type="button" (click)="OnGoBack()">Back to list</button>
    </div>
    <div class="col-75">
      <div class="login">
        <mat-card>
          <mat-card-title id="title" style="text-align: center;">{{isEdit ? 'Edit User':'Create User' }}</mat-card-title>
          <form [formGroup]="userForm" #userSubmitForm="ngForm" (ngSubmit)="onSubmit()">
            <mat-form-field appearance="fill">
              <mat-label>Name</mat-label>
              <input matInput id="name" type="text" placeholder="Name" formControlName="name" required>
              <mat-error *ngIf="userForm.get('name').hasError('required') && userForm.get('name').touched">
                Required</mat-error>
              <mat-error *ngIf="!userForm.get('name').hasError('required') && userForm.get('name').touched">Must
                be at least 2 characters</mat-error>
            </mat-form-field><br>

            <mat-form-field appearance="fill">
              <mat-label>Username</mat-label>
              <input matInput id="username" type="text" placeholder="Username" formControlName="username" required>
              <mat-error *ngIf="userForm.get('username').hasError('required') && userForm.get('username').touched">
                Required</mat-error>
              <mat-error *ngIf="!userForm.get('username').hasError('required') && userForm.get('username').touched">Must
                be at least 2 characters</mat-error>
            </mat-form-field><br>

            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput id="email" type="email" placeholder="Email" formControlName="email" required>
              <mat-error *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched">
                Required</mat-error>
              <mat-error *ngIf="!userForm.get('email').hasError('required') && userForm.get('email').touched">
                Invalid email</mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput id="password" type="password" placeholder="Password" formControlName="password" required>
              <mat-error *ngIf="userForm.get('password').hasError('required') && userForm.get('password').touched">
                Required</mat-error>
              <mat-error *ngIf="!userForm.get('password').hasError('required') && userForm.get('password').touched">
                Must be at least 8 characters</mat-error>
            </mat-form-field><br>
            <mat-form-field appearance="fill">
              <mat-label>Roles</mat-label>
              <mat-select matInput id="roles" formControlName="roles" required>
                <mat-option value="ROLE_USER">USER</mat-option>
                <mat-option value="ROLE_USER">ADMIN</mat-option>
              </mat-select>
              <mat-error *ngIf="userForm.get('roles').hasError('required') && userForm.get('roles').touched">
                Required</mat-error>
            </mat-form-field><br>
            <mat-card-actions>
              <button *ngIf="!isLoading" type="submit" id="submitButton" class="btn btn-primary">Submit</button>
              <!-- <button *ngIf="!isLoading" id="submit" type="submit" class="submitButton" mat-raised-button
                color="primary">Submit</button> -->
              <mat-spinner *ngIf="isLoading"></mat-spinner>
            </mat-card-actions>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</section>
