<section class="login">
    <mat-card>
      <mat-card-title style="text-align: center;">Login to your account</mat-card-title>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
      style="margin-top:20px;">
       <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email"
        matInput
        placeholder="Your Email"
        formControlName="email"
        required
        >
        <mat-hint>Please enter a valid email</mat-hint>
        <mat-error>Invalid or missing email!</mat-error>
     </mat-form-field>
       <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
           <input type="password"
           matInput
           [type] = "hide ? 'password':'text'"
           placeholder="Your password"
           formControlName="password"
           required
           >
           <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
           <mat-hint>Please enter your password.</mat-hint>
           <mat-error>Missing password!</mat-error>
      </mat-form-field> <br>
          <button type="submit" mat-raised-button color="primary">Login</button>
      </form>
    </mat-card>
  </section>

