<section class="signup">
  <div *ngIf="alertType === 'SUCCESS'" class="alert alert-success alert-dismissible fade show" role="alert">
   <p id="successMessage">Volunteer created successfully.</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf="alertType === 'ERROR'" class="alert alert-danger alert-dismissible fade show" role="alert">
   <p id="errorMessage">Something went wrong.</p>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    <div class="row">
      <div class="col-75">
        <div>
          <mat-card>
            <mat-card-title id="title" style="text-align: center;">Volunteer Sign Up Form</mat-card-title>
            <form [formGroup]="userForm" #userSubmitForm="ngForm" (ngSubmit)="onSubmit()">
              <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput id="name" type="text" placeholder="Name" formControlName="name" required>
                <mat-error *ngIf="userForm.get('name').hasError('required') && userForm.get('name').touched">
                  Required</mat-error>
                <mat-error *ngIf="!userForm.get('name').hasError('required') && userForm.get('name').touched">Must
                  be at least 2 characters</mat-error>
              </mat-form-field><br>

              <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput id="email" type="email" placeholder="Email" formControlName="email" required>
                <mat-error *ngIf="userForm.get('email').hasError('required') && userForm.get('email').touched">
                  Required</mat-error>
                <mat-error *ngIf="!userForm.get('email').hasError('required') && userForm.get('email').touched">
                  Invalid email</mat-error>
              </mat-form-field><br>
  
              <mat-form-field appearance="fill">
                <mat-label>Phone</mat-label>
                <input matInput id="phone" type="text" placeholder="Phone" formControlName="phone" required>
                <mat-error *ngIf="userForm.get('phone').hasError('required') && userForm.get('phone').touched">
                  Required</mat-error>
                <mat-error *ngIf="!userForm.get('phone').hasError('required') && userForm.get('phone').touched">Required</mat-error>
              </mat-form-field><br>
  

              <mat-form-field appearance="fill">
                <mat-label>Job Title</mat-label>
                <input matInput id="jobTitle" type="jobTitle" placeholder="Job Title" formControlName="jobTitle" required>
                <mat-error *ngIf="userForm.get('jobTitle').hasError('required') && userForm.get('jobTitle').touched">
                  Required</mat-error>
              </mat-form-field><br>

              <mat-form-field appearance="fill">
                <mat-label>Industry</mat-label>
                <input matInput id="industry" type="industry" placeholder="Industry" formControlName="industry" required>
                <mat-error *ngIf="userForm.get('industry').hasError('required') && userForm.get('industry').touched">
                  Required</mat-error>
              </mat-form-field><br>

              <mat-form-field appearance="fill">
                <mat-label>Area of Interest</mat-label>
                <input matInput id="areaOfInterest" type="areaOfInterest" placeholder="Area of Interest" formControlName="areaOfInterest" required>
                <mat-hint align="end">Enter your area of interest as a volunteer</mat-hint>
                <mat-error *ngIf="userForm.get('areaOfInterest').hasError('required') && userForm.get('areaOfInterest').touched">
                  Required</mat-error>
              </mat-form-field><br>

              <mat-card-actions>
                 <button *ngIf="!isLoading" type="submit" id="submitButton" class="btn btn-primary">Submit</button>
                <mat-spinner *ngIf="isLoading"></mat-spinner>
              </mat-card-actions>

            </form>
          </mat-card>
        </div>
      </div>
    </div>
  </section>
  