<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><a routerLink="/" class="logo">Career Center</a></h5>
  <nav id="navbar" class="my-2 my-md-0 mr-md-3">
    <a id="user_page" class="p-2 text-dark" routerLink="/user"  *ngIf="isAuth">User</a>
    <a id="applicant_page" class="p-2 text-dark" routerLink="/courses" >Courses</a>
    <a id="applicant_page" class="p-2 text-dark" routerLink="/applicant" >Applicant</a>
    <a id="volunteer_page" class="p-2 text-dark" routerLink="/volunteer" >Volunteer</a>
    <a id="login_page" class="btn btn-outline-primary" routerLink="/login" *ngIf="!isAuth">Login</a>
     <a id="logout" class="btn btn-outline-secondary" routerLink="" *ngIf="isAuth" (click)="onLogout()">Logout</a>
  </nav>
  <!-- <a class="btn btn-outline-primary" routerLink="/contact" >Contact</a> -->
  <span id="username" class="p-2 text-dark" *ngIf="isAuth">Hi, <strong>{{username}}</strong></span>
</div>