<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Career Planning Center</h1>
    <p class="lead">
      Start Your Professional Career
    </p>
    <hr class="my-4" />
    <p>The first step is to submit your information</p>
    <p class="lead">
      <a
        class="btn btn-secondary btn-lg"
        routerLink="/applicant/new"
        role="button"
        >Apply Now</a
      >
    </p>
  </div>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-3 text-center">
    <div class="col mb-4 d-flex">
      <div class="card shadow-sm flex-fill border-primary">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Users</h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">Login to your account</h5>
          <p class="card-text">
            Users could log in to account by clicking on Login button
          </p>
        </div>
        <div class="card-footer bg-transparent">
          <a [routerLink]="isAuth ? '/user' : '/login'" class="btn btn btn-outline-primary">Login</a>
        </div>
      </div>
    </div>
    <div class="col mb-4 d-flex">
      <div class="card shadow-sm flex-fill border-info">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Job Seekers</h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">Launch your career</h5>
          <p class="card-text">
            We train recent immigrants and refugees to adapt their education, skills, and professional career abroad into the U.S. workforce.
            </p>
        </div>
        <div class="card-footer bg-transparent">
          <a routerLink="/applicant/new" class="btn btn-outline-info">Apply now</a>
        </div>
      </div>
    </div>
    <div class="col mb-4 d-flex">
      <div class="card shadow-sm flex-fill border-info">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Volunteers</h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">Helped Skilled Workers</h5>
          <p class="card-text">
            We collaborate with individuals and partner organizations to help newcomers succeed in their workplaces and communities.
          </p>
        </div>
        <div class="card-footer bg-transparent">
          <a routerLink="/volunteer/signup" class="btn btn-outline-info">Sign up</a>
        </div>
      </div>
    </div>
  </div>
</div>
