<div class="jumbotron">
  <div class="container">
  <h1 class="display-4">Career Planning Center</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Users</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title home-card-title"><small class="text-muted">Login to your account</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
           <li>We help job seekers</li>
          <li>to adapt their skills</li>
          <li>and education</li>
          <li>professional carreer</li>
        </ul>
        <button type="button" [routerLink]="isAuth ? '/user' : '/login'" class="btn btn-lg btn-block btn-outline-primary">Login</button>
      </div>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Job Seekers</h4>
      </div>
      <div class="card-body">
         <h1 class="card-title home-card-title"><small class="text-muted">Launch your career</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>We help job seekers</li>
          <li>to adapt their skills</li>
          <li>and education</li>
          <li>professional carreer</li>
        </ul>
        <button type="button" routerLink="/applicant" class="btn btn-lg btn-block btn-outline-primary">Contact us</button>
      </div>
    </div>
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Volunteers</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title home-card-title"><small class="text-muted">Helped Skilled Workers</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>We help job seekers</li>
          <li>to adapt their skills</li>
          <li>and education</li>
          <li>professional carreer</li>
        </ul>
        <button type="button" routerLink="/volunteer"  class="btn btn-lg btn-block btn-outline-primary">Sign up</button>
      </div>
    </div>
