
<section class="jumbotron text-center">
  <div class="container">
    <h1>Applicant Home</h1>
    <p class="lead text-muted">
      Career Center’s FREE Career Coaching Program connects professionally
      focused immigrants and refugees with customized job coaching and
      career-training resources to help them get back to work in their
      professional fields. Our coaches are available to meet you in person or
      online for up to 18 months of your job search.
    </p>
    <p>
      <a routerLink="/applicant/new" class="btn btn-primary my-2">Apply now</a>
      <a *ngIf="isAuth" routerLink="/applicant/list" class="btn btn-secondary my-2">Display applicant list</a>
    </p>
  </div>
</section>
<hr>
<section>
    <h3>Program Offerings</h3>
    <mat-tab-group fitInkBarToContent >
        <div *ngFor="let offering of offerings">
            <mat-tab label="{{offering.name}}">
                <br>
                <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title-group>
                        <mat-card-title>{{offering.name}}</mat-card-title>
                      </mat-card-title-group>
                    </mat-card-header>
                    <mat-card-content>
                        {{offering.description}}
                    </mat-card-content>
                  </mat-card>
            </mat-tab>
        </div>
      </mat-tab-group>
</section>
